# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
xcuserdata/
*.xcworkspace/xcuserdata
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Cartfile.resolved

# Firebase
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# User settings
*.idea/
*.vscode/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Other
*.log
*.env
