<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrivacyPolicyURL</key>
	<string>https://invited-raclette-d20.notion.site/Coinflow-Privacy-policy-3019be05f30280f08820cdddbc51ddd6</string>
	<key>TermsOfServiceURL</key>
	<string>https://invited-raclette-d20.notion.site/Coinflow-Terms-of-service-3019be05f30280e8a155f5ac794cc9bb</string>
</dict>
</plist>
